.container {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-image: url("https://img.freepik.com/premium-vector/cute-cartoon-books-doodles-seamless-border-pattern-vector-repeatable-background-texture-tile-cozy-craft-template-stock-illustration-wrapping-design-wallpaper_44769-2317.jpg?w=2000");
}