/* .header {
    height: 4em;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(18, 80, 109, 0.8);
}

.menu-icon {
    color: #fff;
    font-size: 1.4em;
}

#header-Homepage {
    color: #fff;
}

.right-items {
    width: 10em;
}

.left-items {
    width: 13em;
}

.right-items,
.left-items {
    display: flex;
    margin-right: 1em;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.1em;
}

a:hover, .menu-icon:hover {
    opacity: .8;
    cursor: pointer;
} */